@font-face {
    font-family: JosefinSans-SemiBold;
    src: url('../font/static/JosefinSans-SemiBold.ttf');
}
@font-face {
    font-family: JosefinSans-SemiBoldItalic;
    src: url('../font/static/JosefinSans-SemiBoldItalic.ttf');
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.nav-text{
    font-family: JosefinSans-SemiBold;
    font-size: 17px;
}
.header-bg{
    background-color: rgb(4, 53, 16);
}
.w-10{
    width: 10%;
}
.icon-nav{
    color: rgb(251, 206, 153);
    font-size: 30px;
    margin-left: 150px;
}
.line-height{
    line-height: 2rem;
}
.intro-text-title{
    font-family: JosefinSans-SemiBold;
    font-size: 40px;
}
.intro-text-p{
    font-family: JosefinSans-SemiBold;
    font-size: 14px;
}
.color-star{
    color: yellow;
    font-size: 17px;
}
.color-price{
    color: rgb(4, 53, 16);
}
.line-through{
    text-decoration: line-through;
}
.w-15{
    width: 15%;
}
.radius-pro{
    border-radius: 50px;
}
.card-g{
    position: relative;
}
.pro{
    position: absolute;
    top: 7px;
    left: 7px;
}
.carousel-inner{
    position: relative;
}
.text-carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: JosefinSans-SemiBoldItalic;
    font-size: xxx-large;
    font-weight: bold;
    color: white;
}
